@font-face {
  font-family: "Gilroy";
  src: url("../fonts/gilroy-light.woff2") format("woff2"), url("../fonts/gilroy-light.woff") format("woff");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/gilroy-regular.woff2") format("woff2"), url("../fonts/gilroy-regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/gilroy-semibold.woff2") format("woff2"), url("../fonts/gilroy-semibold.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

.page {
  height: 100%;
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 18px;
  line-height: 24px;
  cursor: default;
}

.page__body {
  margin: 0;
  min-width: 360px;
  background-color: $white;

  &--overflow {
    overflow: hidden;
  }
}

*:focus {
  outline-color: transparentize($color: $blue_01, $amount: 0.5);
}
