$white: #ffffff;
$black: #000000;
$grey: #f4f4f4;
$red: #ff0000;
$green: #008000;
$blue_00: #1070b1;
$blue_01: #1f3f68;
$blue_02: #316099;
$blue_03: #356ead;
$blue_04: #5a98d0;
$blue_05: #98c3e8;
$blue_05_opacity: rgba(152, 195, 232, 0.2);

$tablet-width: 1175px;
$mobile-width: 765px;
